<%= content_for :title, "Edit Profile" %>

<h1>Profile</h1>

<%= form_with model: Current.user, url: profile_path do |form| %>
  <%= render "errors", object: form.object %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit %>
<% end %>

<hr>

<%= button_to "Logout", session_path, method: :delete %>