<% content_for :title, @project.name %>
<% content_for :head do %>
  <%= tag.meta name: :turbo_refresh_method, content: :morph %>
  <%= tag.meta name: :turbo_refresh_scroll, content: :preserve %>
<% end %>

<hgroup>
  <%= turbo_frame_tag @project, :edit_name do %>
    <h1><%= link_to @project.name, edit_project_name_path(@project) %></h1>
  <% end %>
  <%= link_to "Edit project", edit_project_path(@project) %>
</hgroup>

<hgroup>
  <h3>Todos</h3>
</hgroup>

<%= form_with url: project_path(@project), method: :get, data: { turbo_frame: :todos } do |form| %>
  <%= form.search_field :query, value: params[:query], data: {
    controller: :autosubmit,
    action: "input->autosubmit#submit",
  } %>
<% end %>

<%= turbo_stream_from @project %>
<%= turbo_frame_tag "todos", target: :_top, data: { turbo_action: :advance } do %>
  <%= render @todos %>
<% end %>

<%= tag.div id: :todo_form, data: { data_turbo_permanent: true } do %>
  <%= link_to "Add a todo",
              new_project_todo_path(@project),
              id: :new_todo,
              data: { turbo_stream: true } %>
<% end %>