<hgroup>
  <%= turbo_frame_tag @project, :edit_name do %>
    <h1><%= link_to @project.name, edit_project_name_path(@project) %></h1>
  <% end %>
  <%= link_to "Edit project", edit_project_path(@project) %>
</hgroup>

<hgroup>
  <h3>Todos</h3>
  <%= link_to "Add a todo", new_project_todo_path(@project) %>
</hgroup>

<div>
  <% @project.todos.each do |todo| %>
    <div class="flex">
      <%= form_with model: [@project, todo] do |form| %>
        <%= form.checkbox :completed %>
        <%= form.submit "Save" %>
      <% end %>

      <%= render todo %>
    </div>
  <% end %>
</div>