<%= content_for :title, "My Todos" %>
<%= content_for :head do %>
  <% stylesheet_link_tag "my_todos", "data-turbo-track": "dynamic" %>
<% end %>

<h1>My Todos</h1>
<%= turbo_frame_tag :todos_page, @pagy.options[:page] do %>
  <%= render @todos %>
  <% if @pagy.next %>
    <%= turbo_frame_tag :todos_page, @pagy.next, src: todos_path(page: @pagy.next), loading: :lazy do %>
      <%= tag.div "Loading..." %>
    <% end %>
  <% end %>
<% end %>